*{
	box-sizing: border-box;
}

@keyframes animation{
	from{
		transform: rotateX(270deg);
		/*background: #2d7a58;*/
		background: darksalmon;
	}
	to{
		transform: rotateX(360deg);
				
	}
}

body{
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	overflow: hidden;
	background: darksalmon;
}

.box{
	width: 250px;
	background: #f4f4f4;
	padding: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;

	animation-name: animation;
	animation-duration: 3s;
	animation-timing-function: linear;
}

label{
	display: block;
	margin: 7px 0;
}

.form-control{
	width: 100%;
	display: block;
	padding: 3px;

	/*appearance: none;*/
}

.btn{
	width: 100%;
	background: #6c3cab;
	color: black;
	padding: 3px;
	margin-top: 10px;
}